*.[oa]
*.so
*.d
*.html
*.png
*.cgi
*~

app/obj/

site-search/build.param
site-search/crawl-index
site-search/excluded_hosts
site-search/seeds.txt

MakeDefns
Makefile.app
Makefile.cgo

autom4te.cache/
buildindex/IndriBuildIndex
clarity/clarity
config.log
config.status
dumpindex/dumpindex
harvestlinks/harvestlinks
indrid/IndriDaemon
makeprior/makeprior
modifyfields/ModifyFields
pagerank/pagerank
reformulate/ReformulateQuery
rmodel/rmodel
runquery/IndriRunQuery

swig/obj/

